@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"); 
@import "react-slideshow-image/dist/styles.css";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800); */ */ */


body {
  background-color: #a3a3a3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
} */

/*---------------Slide Images-----------------*/

.css-slideshow {
  text-align:center;
  position: relative;
  max-width: 410px;
  width: 100%;
  height: auto;
  margin: auto;
  }
  .css-container {
  width: 100%;
  }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #87cbff;
  text-align: center;
}

/*-----------------------Home---------------------------*/


/*-----------------------TeacherBibleVerse--------------*/
/* 
textarea {
  width: 35%;
} */

/*-----------------------Navbar--------------*/

.App {
  background-color: rgb(195, 241, 255);
}

:root {
  --primary-white: #fff;
  --primary-blue: #00eeff;
  --primary-dark: rgba(255, 255, 255, 0);
}

body { 
   font-style: "Roboto Condesed" sans-serif; 
   background-color: rgb(255, 255, 255);
} 

.logo {
  width: 16.25rem;
}

/*---------------Menu Links-----------------*/

nav a.nav-link {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.038rem;
  cursor: pointer;
}
 
nav ul li {
  text-transform: uppercase;  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-top: 1.75rem;
  color: var(--primary-white) !important; 
  border-top: 0.1875rem solid var(--primary-dark );
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.75rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 00.1875rem solid var(--primary-blue);
}

/*---------------Content-----------------*/

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: rgb(255, 255, 255);
}
.content {
  height:30vh;
}

.content-div {
  font-size: 20px;
}
h1 {
  font-size:20px;
}


@media (max-width: 768px) {
    
    .each-slide {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-brand{
      flex-direction: column;
      align-items: flex-start;
    }
    
    .css-slideshow{
    display: flex;
  }

    .greetingstudent {
    display: flex;
  } 
  
  /* .navbar-links {
    display: none;
    width: 100%;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  
  .navbar-links ul li {
    text-align: center;
  }
  
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  } */
}

@media (max-width: 600px) {

  .home {
      font-size: 13px;
  }
}