@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"); 
/* @import "react-slideshow-image/dist/styles.css"; */
@import url("//fonts.googleapis.com/css?family=Lato:300:400");
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800); */

figure.snip0056 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: auto;
  max-width: auto;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0056 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0056 > img {
  width: 50%;
  border-radius: 80%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  float: right;
  right: -15%;
  z-index: 1;
}
figure.snip0056 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0;
  width: 60%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
  margin: 0;
  text-align: left;
  padding: 1px 0;
  width: 100%;
}
figure.snip0056 figcaption h2 {
  font-size: 1.8em;
  font-weight: 300;
  text-transform: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
  font-weight: 800;
}
figure.snip0056 figcaption p {
  font-size: 0.9em;
  opacity: 1em;
}
figure.snip0056 figcaption .icons {
  width: 100%;
  text-align: left;
}

figure.snip0056 .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
  clear: both;
}

figure.snip0056.red .position {
  background: #962d22;
}
figure.snip0056.yellow .position {
  background: #bf6516;
}
figure.snip0056:hover > img,
figure.snip0056.hover > img {
  right: -12%;
}

body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

/*-----------------------TeacherBibleVerse--------------*/

textarea {
  width: 35%;
}

/*-----------------------Navbar--------------*/

.App {
  background-color: rgb(193, 255, 233);
}

:root {
  --primary-black: rgb(0, 0, 0);
  --primary-brown: #b35c00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
   font-style: "Roboto Condesed" sans-serif; 
   background-color: rgb(255, 255, 255);
} 

.logo {
  width: 16.25rem;
}

/*---------------Menu Links-----------------*/
nav a.nav-link {
  /* font-weight: 100; */
  letter-spacing: 0.038rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;  
  color: var(--primary-black) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-brown);
}

.navbar-nav > li > a:hover {
  border-top: 00.1875rem solid var(--primary-brown);
}

/*---------------Content-----------------*/
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: rgb(255, 255, 255);
}
.content {
  height:30vh;
}

.content-div {
  font-size: 20px;
}
h1 {
  font-size:20px;
}

/*---------------Slide Images-----------------*/

.each-slide > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  /* height: 450px; */
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #87cbff;
  text-align: center;
}
