@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import "react-slideshow-image/dist/styles.css";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
*/ */ */




/*---------------Slide Images-----------------*/

.css-slideshow {
	text-align: center;
	position: relative;
	max-width: 410px;
	width: 100%;
	height: auto;
	margin: auto;
}
.css-container {
	width: 100%;
}

.each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 350px;
}

.each-slide span {
	padding: 20px;
	font-size: 20px;
	background: #87cbff;
	text-align: center;
}

/*-----------------------Home---------------------------*/

/*-----------------------TeacherBibleVerse--------------*/

textarea {
  width: 35%;
}

/*-----------------------Navbar--------------*/

.App {
	background-color: rgb(195, 241, 255);
}

:root {
	--primary-white: #fff;
	--primary-blue: #00eeff;
	--primary-dark: rgba(255, 255, 255, 0);
}



.logo {
	width: 16.25rem;
}

/*---------------Menu Links-----------------*/

nav a.nav-link {
	font-size: 1rem;
	font-weight: 100;
	letter-spacing: 0.038rem;
	cursor: pointer;
}

nav ul li {
	text-transform: uppercase;
}

.navbar-brand {
	max-width: 400px;
	padding: 0 !important;
	height: 3rem !important;
}

.navbar-nav > li > a {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	margin-top: 1.75rem;
	color: var(--primary-white) !important;
	border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
	border-top: 0.75rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
	border-top: 00.1875rem solid var(--primary-blue);
}

/*---------------Content-----------------*/

.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: rgb(255, 255, 255);
}
.content {
	height: 30vh;
}

.content-div {
	font-size: 20px;
}
h1 {
	font-size: 20px;
}

@media (max-width: 768px) {
	.each-slide {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-brand {
		flex-direction: column;
		align-items: flex-start;
	}

	.css-slideshow {
		display: flex;
	}

	.greetingstudent {
		display: flex;
	}


}

@media (max-width: 600px) {
	.home {
		font-size: 13px;
	}
}


/* -------------------------Card_--------------------- */

.form-container {
	width: 100%;
	height: 100vh;
	background-color:#87cbff;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 350px;
	height: 500px;
	box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    perspective: 1000px;
	background-image: url(regImg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.inner-box {
	position: relative;
	width: 100%;
	height: 100%;

}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	padding: 55px;
	box-sizing: border-box;
	backface-visibility: hidden;
}


.card h3 {
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}

.input-box {
	width: 100%;
	background: rgba(245, 245, 245, 0.507);
	border: 1px solid rgba(66, 90, 71, 0.26);
	margin: 6px 0;
	height: 32px;
	border-radius: 20px;
	padding:  10px;
	box-sizing: border-box;
	outline:none;
	text-align: center;
	font-size: 14px;
	color: rgba (90, 66, 66);
}

::placeholder {
	color: black;
	font-size: 12px;
}

button {
	width: 100%;
	background: rgba(245, 245, 245, 0.507);
	border: 1px solid rgba(90, 66, 66);
	margin: 35px 0 10px;
	height: 32px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: black;
	cursor: pointer;
}

.submit-btn{
	position: relative;
}

.submit-btn::after {
	content: "\27a4";
	color: #333;
	line-height: 32px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.26);
	position: absolute;
	font-size: 17px;
  right: -1px;
  top:-1px;
}

span{
  font-size:13px;
  margin-left: 10px;
}

.card .btnn{
  margin-top: 30px;
}

.card a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

.success-message {
    font-family: "Roboto", sans-serif;
    background: whitesmoke;
    padding: 8px;
    color:green;
  }

  .cardStudent {
	width: 350px;
	height: 500px;
	box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    perspective: 1000px;
	background-image: url(regKid.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.href {
	color: goldenrod;
	position: relative;
}